// doesnt work on `enter`
.call-banner-transition {
  $ms: 0.3s;
  $move: 49px;

  &-leave-active,
  &-enter-active {
    transition: all linear $ms;
  }

  &-leave-to {
    opacity: 0;
    transform: translateY($move);
  }

  &-enter {
    opacity: 0;
    transform: translateY($move);
  }
}

.call-title-transition {
  $ms: 0.3s;
  $move: 50px;

  &-leave-active,
  &-enter-active {
    transition: all linear $ms;
  }

  &-leave-active {
    position: absolute;
    left: 210px;
  }

  &-leave-to {
    opacity: 0;
  }

  &-enter {
    opacity: 0;
    transform: translateX(#{$move});
  }

  &-move {
    transition: transform $ms;
  }
}

@keyframes ring {
  0% {
    transform: scale(1) rotate(0deg);
  }
  10%,
  20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60% {
    transform: scale(1.1) rotate(-3deg);
  }
  80% {
    transform: scale(1.1) rotate(3deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.calls-list {
  //font-size: 14px;
  &__item,
  .slide-up-down__container {
    & > div {
      margin-bottom: 10px;
    }
  }

  &__item {
    border-bottom: 1px solid rgb(var(--v-theme-border));
    padding: 16px 16px 6px;
    // color: #9e9e9e;
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }

    &--expanded {
      .calls-list__date {
        .v-icon {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &__number {
    font-weight: bold;
    white-space: nowrap;
  }

  &__comment {
    color: rgb(var(--v-theme-gray));
    padding-left: 8px;
    max-width: 160px;
    font-size: 14px;
  }

  &__date {
    // color: rgb(var(--v-theme-gray));
  }

  &__user {
  }

  &--outgoing,
  &--incoming {
    color: rgb(var(--v-theme-success));
  }
}
