.comments {
  $padding: 10px 16px;

  &__items {
    flex: 1;
    // height: 0px; /*here the height is set to 0px*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: $padding;

    & > div {
      margin-bottom: 24px;
    }
  }

  &__input {
    display: flex;
    z-index: 1;
    border-top: 1px solid #e0e0e0;
    padding: $padding;
    // min-height: 65px;
    // height: 65px;
    // max-height: 65px;
    position: sticky;
    bottom: 0;
    background: white;

    .v-btn {
      position: relative;
      top: 4px;
    }

    & textarea {
      max-height: 100px;
      // transition: all linear 0.075s;
      overflow-y: auto;
      scrollbar-width: none;
      /** ff */
      -ms-overflow-style: none;
      /** ie */
      font-weight: 400;
      line-height: 18px !important;
      top: 2px;
      position: relative;
      padding: 15px 8px 0 !important;

      &::-webkit-scrollbar {
        width: 0;
        /** webkit */
      }
    }

    .v-field__outline {
      display: none !important;
    }

    & > span:first-child {
      position: absolute;
      font-size: 14px;
      left: 24px;
      top: 6px;
    }
  }

  &-wrapper {
    .loaderr {
      position: absolute;
      z-index: 10;
    }

    .tabs {
      min-height: 48px !important;
      max-height: 48px !important;
      width: 100%;
      position: sticky;
      top: 0;
      background: white;
      z-index: 1;
    }

    &--no-scroll {
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &--loaded {
      .new-comment {
        &-enter-active,
        &-leave-active {
          transition: all 100ms linear;
        }

        &-enter-from,
        &-leave-to {
          opacity: 0;
          transform: translateY(20px);
        }
      }
    }
  }
}

.comment {
  display: flex;
  align-items: flex-start;
  font-size: 14px;

  & > div:last-child {
    flex: 1;
  }

  .v-avatar {
    margin-right: 16px;
    margin-top: 1px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // margin-bottom: 2px;
    & > *:not(:last-child) {
      margin-right: 6px;
    }

    & > span {
      &:first-child {
        font-weight: bold;
      }

      &:not(:first-child) {
        color: rgb(var(--v-theme-gray));
        font-size: 12px;
        font-weight: normal;
      }
    }

    .v-icon--clickable {
      opacity: 0;
      transition: opacity ease-in-out 0.2s;
    }

    &:hover {
      .v-icon--clickable {
        opacity: 1;
      }
    }
  }
}

.comment-btn {
  &-enter-active {
    transition: all 0.3s linear;
    transform-origin: center center;
  }

  &-leave-active {
    transition: none !important;
  }

  &-enter-from {
    opacity: 0;
    // transform: scale(0.5);
    transform: translateX(-10px);
  }
}
