.lesson-item {
  position: relative;

  &__contract-lesson {
    flex: auto !important;
    display: flex;
    gap: 20px;
    // padding-left: 650px;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 4px;

    & > div {
      $width: 25px;
      width: $width;
      max-width: $width;
      min-width: $width;
    }
  }

  &__inline-scores {
    display: flex;
    gap: 4px;

    .score {
      $size: 24px !important;
      width: $size;
      height: $size;
      min-width: $size;
      min-height: $size;
    }
  }

  .table-actionss {
    top: -16px;
    right: -1 0px;
  }

  &__checkbox {
    position: absolute;
    right: 0;
  }
}
