.report-view {
  flex: 1;
  &__content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    & > div {
      display: flex;
      flex-direction: column;
      gap: 2px;
      & > div {
        &:first-child {
          font-weight: bold;
          margin-bottom: 12px;
        }
        &:last-child {
          // word-wrap: break-word;
          // white-space: pre-wrap;
          max-width: 900px;
        }
      }
    }
  }

  &__client-lessons {
    display: flex;
    flex-direction: column;
    gap: 12px;

    & > div {
      &:first-child {
        margin-top: 4px;
      }
      // display: flex;
    }
  }

  .text-score,
  &__score {
    font-size: 24px;
  }

  .v-card__underlay {
    background: rgb(var(--v-theme-gray)) !important;
    // opacity: 1 !important;
  }

  .v-card-title {
    font-weight: bold !important;
    font-size: 16px !important;
  }

  .v-card-subtitle {
    font-size: 16px !important;
  }
}
