.table {
  --height: 57px;
  &-header {
    font-size: 14px;
    color: rgb(var(--v-theme-gray));
    height: var(--height);
    align-items: center;
    pointer-events: none;
  }
  &-actionss {
    position: absolute;
    padding-top: 4px;
    right: 15px;
    top: 0;
    z-index: 1;
    width: 100px;
    height: 100%;
    text-align: right;
    // overflow: hidden;
    // background: red;
    .v-btn {
      opacity: 0;
      box-shadow: 0 0 20px 20px rgba(white, 0.5);
      background: white;
      transform: translateX(10px);
      transition: all ease-in-out 0.2s;
      color: rgb(var(--v-theme-gray));
      // color:#bdc2ce;
      &:after {
        content: none !important;
      }
      &:hover {
        color: rgb(var(--v-theme-gray));
      }
      &:focus {
        opacity: 0;
      }
    }
    &:hover {
      .v-btn {
        transform: translateX(0);
        opacity: 1 !important;
      }
    }
  }
  & > div,
  & > a {
    position: relative;
    // &:hover {
    //   .table-actionss {
    //     .v-btn {
    //       transform: translateX(0);
    //       opacity: 1;
    //     }
    //   }
    // }
  }
  & > .v-infinite-scroll__side:first-child {
    display: none;
  }
  & > div:not(.v-infinite-scroll__side),
  & > a {
    border-bottom: thin solid
      rgba(var(--v-border-color), var(--v-border-opacity));
    padding: 0 20px;
    min-height: var(--height);
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    & > div:last-child {
      flex: 1;
    }
  }

  // .v-field__outline {
  //   --v-field-border-opacity: 0;
  // }
  &-actions {
    text-align: right;
  }
  &--hover {
    & > div,
    & > a {
      transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
      &:hover {
        background: rgba(var(--v-border-color), var(--v-hover-opacity));
      }
    }
  }
  &--actions-on-hover {
    .table-actions,
    .actions {
      opacity: 0;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    & > div:hover {
      .table-actions,
      .actions {
        opacity: 1;
      }
    }
  }
  &--padding {
    --padding: 16px;
    & > div,
    & > a {
      padding-top: var(--padding) !important;
      padding-bottom: var(--padding) !important;
    }
  }

  &--separated {
    & > div:first-child {
      border-top: thin solid rgba(var(--v-border-color), var(--v-border-opacity));
    }
  }

  &-item-disabled {
    & > div {
      opacity: 0.3;
    }

    pointer-events: none;
  }
}
