.test {
  height: 100vh;
  display: flex;
  overflow: hidden;
  $padding: 20px;
  iframe {
    width: 67%;
    border: 0;
    border-right: 1px solid #e0e0e0;
  }
  & > div {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  &__questions {
    padding: $padding 0 0 $padding;
    flex: 1;
    overflow: scroll;
    h2 {
      display: flex;
      align-items: center;
      // justify-content: space-between;
      gap: 10px;
      span {
        font-weight: normal;
        font-size: 1rem;
        padding-right: $padding;
        top: 2px;
        position: relative;
      }
    }
    &-answers {
      margin-top: 16px;
      gap: 10px;
      display: flex;
      // justify-content: center;
    }
    & > div {
      margin-bottom: 50px;
    }
  }
  &__controls {
    padding: 0 $padding $padding;
    box-shadow: 0 0 10px 10px white;
    position: relative;
    z-index: 1;
  }
  &__results {
    text-align: center;
    padding: $padding;
    border-top: 1px solid #e0e0e0;
  }
  &__timer {
    // position: fixed;
    // z-index: 9999;
    // left: 56px;
    // bottom: 20px;
    padding-left: 110px;
    margin-bottom: 8px;
    background: white;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 500;
    // font-size: 24px;
    // font-weight: bold;
  }
  &__timer-in-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 80px;
    margin-left: 16px;
    opacity: 0.5;
  }

  &-answer {
    &--correct {
      border: 1px solid rgb(var(--v-theme-success)) !important;
      .v-btn__content {
        color: rgb(var(--v-theme-success));
      }
    }
    &--my {
      &.test-answer--correct {
        background-color: rgb(var(--v-theme-success)) !important;
        .v-btn__content {
          color: white !important;
        }
      }
      &:not(.test-answer--correct) {
        border: 1px solid rgb(var(--v-theme-error)) !important;
        background-color: rgb(var(--v-theme-error)) !important;
        .v-btn__content {
          color: white !important;
        }

        // .v-btn__content {
        //   color: rgb(var(--v-theme-error));
        // }
        // background-color: rgb(var(--v-theme-error)) !important;
      }
    }
  }

  &__answers-count {
    display: flex;
    align-items: center;
    gap: 4px;
    .v-icon {
      font-size: 18px;
      top: 2px;
    }
    // font-size: 12px;
    // font-weight: normal;
    // background: rgb(var(--v-theme-primary));
    // padding: 4px 8px;
  }
}
