@font-face {
  font-family: 'Akkurat';
  src: url('/fonts/AkkuratLLCyrTT-Regular.ttf');
  font-weight: 400;
  // font-display: swap;
}

@font-face {
  font-family: 'Akkurat';
  src: url('/fonts/AkkuratLLCyrTT-Bold.ttf');
  font-weight: 500;
  // font-display: swap;
}

@font-face {
  font-family: 'Akkurat';
  src: url('/fonts/AkkuratLLCyrTT-Bold.ttf');
  font-weight: bold;
  // font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('/fonts/GTWalsheimPro-Regular.ttf');
  font-weight: 400;
  // font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('/fonts/GTWalsheimPro-Medium.ttf');
  font-weight: 500;
  // font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('/fonts/GTWalsheimPro-Bold.ttf');
  font-weight: bold;
  // font-display: swap;
}

@font-face {
  font-family: 'ibm-plex';
  src: url('/fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
