@use 'fonts';
@use 'vuetify/lib/styles/main.sass' with (
  $body-font-family: 'GT Walsheim Pro',
  // $body-font-family: Akkurat,
  $font-size-root: 16px
);
@use 'overwrites';
@use 'variables';
@use 'styles';
@use 'test';
@use 'quill';
@use 'instruction';
@use 'dialog';
@use 'calendar';
@use 'callapp';
@use 'transitions';
@use 'table';
@use 'show';
@use 'lesson';
@use 'report';
@use 'comments';
@use 'typography';
