.v-list-item__spacer {
  width: 10px !important;
}

.v-progress-circular__underlay {
  display: none !important;
}

.v-infinite-scroll {
  &__side {
    opacity: 0;
    &:first-child {
      display: none;
    }
  }
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

.v-rating__item {
  .v-icon {
    font-size: 32px !important;
  }
}

.v-alert-title {
  font-size: 16px !important;
  font-weight: bold !important;
}

.v-btn-toggle > .v-btn.v-btn--active:not(.v-btn--disabled) > .v-btn__overlay {
  display: none !important;
}

// TODO:
// main {
//   display: flex;
//   flex-direction: column;
//   & > div {
//     &:last-child {
//       flex: 1;
//       position: relative;
//     }
//   }
// }
