.v-list-item__spacer {
  width: 10px !important;
}

//.v-btn__loader {
//  .v-progress-circular__underlay {
//    display: none !important;
//  }
//}

h3 {
  font-size: 24px;
  font-weight: 500;
}

.v-rating__item {
  .v-icon {
    font-size: 32px !important;
  }
}

.v-alert-title {
  font-size: 16px !important;
  font-weight: bold !important;
}

.v-btn-toggle > .v-btn.v-btn--active:not(.v-btn--disabled) > .v-btn__overlay {
  display: none !important;
}

.v-table {
  font-size: 1rem !important;

  thead {
    th {
      font-weight: normal !important;
      color: rgb(var(--v-theme-gray));
    }
  }
}

.v-table.v-table--hover > .v-table__wrapper > table > tbody > tr:hover > td::after {
  content: none !important;
}

// TODO:
main {
  display: flex;
  flex-direction: column;

  & > div {
    &:last-child {
      flex: 1;
      position: relative;
    }
  }
}

.v-btn--size-large.v-btn--disabled {
  background: #e4e4e4 !important;
  opacity: 0.5 !important;

  .v-btn__overlay {
    display: none;
  }
}

.v-table:not(.teacher-balances-table):not(.group-visits) > .v-table__wrapper > table {
  & > thead,
  & > tbody,
  & > tfoot {
    & > tr > td,
    & > tr > th {
      &:first-child {
        padding-left: var(--padding) !important;
      }
      &:not(:first-child) {
        padding-left: calc(var(--padding) / 2) !important;
      }
      padding-right: calc(var(--padding) / 2) !important;
    }
  }
}

.v-switch {
  scale: 0.8;

  .v-switch__track {
    padding: 0 !important;
  }

  .v-selection-control {
    &:not(.v-selection-control--dirty) {
      .v-switch__track {
        opacity: 0.2 !important;
      }
    }
    &--dirty {
      .v-switch__track {
        opacity: 1 !important;
      }
    }
  }
}
