main {
  height: 100vh;
  overflow-y: scroll;
}

a:not(.v-list-item) {
  text-decoration: none;
  color: rgb(var(--v-theme-primary));
  &:hover {
    color: rgba(var(--v-theme-primary), 0.9);
    // color: rgba(var(--v-theme-accent));
  }
}

.page-title {
  padding: 20px;
}

.table {
  --height: 57px;
  &-header {
    font-size: 14px;
    color: rgb(var(--v-theme-gray));
    height: var(--height);
    align-items: center;
  }
  & > .v-infinite-scroll__side:first-child {
    display: none;
  }
  & > div:not(.v-infinite-scroll__side) {
    border-bottom: thin solid
      rgba(var(--v-border-color), var(--v-border-opacity));
    padding: 0 16px;
    min-height: var(--height);
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    & > div:last-child {
      flex: 1;
    }
  }
  .v-input {
    margin-left: -16px;
  }
  .v-field__outline {
    --v-field-border-opacity: 0;
  }
  &--hoverable {
    & > div {
      transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
      &:hover {
        background: rgba(var(--v-border-color), var(--v-hover-opacity));
      }
    }
  }
  &--actions-on-hover {
    .table-actions {
      opacity: 0;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    & > div:hover {
      .table-actions {
        opacity: 1;
      }
    }
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
}

.unselectable {
  user-select: none;
}

.link-icon {
  --gap: 1px;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  gap: var(--gap);
  transition: gap linear 0.1s;
  user-select: none;
  .v-icon {
    top: 1px;
    position: relative;
  }
  &:hover {
    gap: calc(var(--gap) + 1px);
  }
  &:active {
    gap: var(--gap);
  }
}

.dialog {
  $paddingX: 26px;
  right: 0;
  left: auto !important;
  transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 0.3s !important;
  background: white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  &-content {
    height: 100vh;
    overflow-y: scroll;
  }
  &-body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 $paddingX 30px;
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fafafa;
    position: sticky;
    top: 0;
    padding: 0 9px 0 $paddingX;
    height: 64px;
    margin-bottom: 40px;
    z-index: 1;
    font-weight: bold;
    border-bottom: thin solid
      rgba(var(--v-border-color), var(--v-border-opacity));
  }
  &-section {
    margin-top: 30px;
    &__title {
      font-weight: bold;
    }
  }
  &-right-transition {
    &-enter-from,
    &-leave-to {
      transform: translateX(100%) !important;
    }
  }
  .table {
    left: #{-$paddingX};
    position: relative;
    width: calc(100% + #{$paddingX * 2});
    & > div {
      padding-left: $paddingX !important;
      position: relative;
    }
    &-actions {
      position: absolute;
      right: 9px;
      top: 5px;
    }
  }
  &--second-layer {
    .dialog {
      right: 240px;
      pointer-events: none;
    }
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.no-pointer-events {
  pointer-events: none;
}

.double-input {
  display: flex;
  align-items: center;
  gap: 20px;
  & > div {
    flex: 1;
  }
}
