main {
  height: 100vh;
  overflow-y: scroll;
}

a:not(.v-list-item):not(.table-item) {
  text-decoration: none;
  color: rgb(var(--v-theme-secondary));
  &:hover {
    color: rgba(var(--v-theme-secondary), 0.9);
    // color: rgba(var(--v-theme-accent));
  }
}

a.table-item {
  text-decoration: none;
  color: initial;
}

.page-title {
  padding: 20px;
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
  &-default {
    cursor: default;
  }
}

.unselectable {
  user-select: none;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.no-pointer-events {
  pointer-events: none;
}

.double-input {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  & > div {
    flex: 1;
  }
}

// если первыми на странице идут фильтры,
// то они sticky
.v-main > .filters:first-child {
  z-index: 1;
  position: sticky;
  top: 0;
}

.v-select__content {
  .v-list-item {
    padding-left: 6px !important;
  }
}

.tabs {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  // box-shadow: 0 0 10px 20px rgba(white, 0.5);
  &-item {
    padding: 12px 20px;
    cursor: pointer;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
    &:hover {
      background: #f6f6f6;
    }
    &--active {
      background: #e4e4e4 !important;
      // pointer-events: none;
    }
  }
}

.tab-btn {
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.2s !important;
  &:hover {
    background: #f6f6f6;
  }
  &--active {
    background: #e4e4e4 !important;
    opacity: 1 !important;
    // pointer-events: none;
  }

  .v-btn__content {
    flex-direction: column;
    & > div:nth-child(2) {
      text-align: center;
      font-size: 13px !important;
      letter-spacing: normal !important;
      text-transform: lowercase !important;
    }
  }
}

.panel {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
  &-info {
    border-bottom: 1px solid #e0e0e0;
    // background: #fafafa;
    display: flex;
    gap: 50px;
    padding: 10px 10px 10px 20px;
    & > div:not(.client__actions) {
      // padding: 0 16px 20px;
      & > div {
        &:first-child {
          color: rgb(var(--v-theme-gray));
        }
      }
    }
  }
  &-actions {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    color: rgb(var(--v-theme-gray));
  }
}

div.item-deleted,
div.item-updated {
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation-name: itemUpdated;
    animation-timing-function: linear;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    pointer-events: none;
  }
}

tr.item-updated > td {
  animation-name: itemUpdated;
  animation-timing-function: linear;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}

div.item-deleted:after {
  animation-name: itemDeleted;
}

@keyframes itemUpdated {
  from {
    background: rgba(#fe8a1d, 0.2);
    // box-shadow: 0 0 10px 10px rgba(var(--v-theme-error), 0.2);
  }
  to {
    background: rgba(#fe8a1d, 0);
    // box-shadow: 0 0 0 0 rgba(var(--v-theme-error), 0);
  }
}

@keyframes itemDeleted {
  from {
    background: rgba(var(--v-theme-error), 0.4);
    // box-shadow: 0 0 10px 10px rgba(var(--v-theme-error), 0.2);
  }
  to {
    background: rgba(var(--v-theme-error), 0);
    // box-shadow: 0 0 0 0 rgba(var(--v-theme-error), 0);
  }
}

.vfn {
  &-1 {
    position: relative;
    top: -1px;
  }
}

.vf {
  &-1 {
    position: relative;
    top: 1px;
  }
}

.opacity {
  &-6 {
    opacity: 0.6;
  }
  &-5 {
    opacity: 0.5;
  }
  &-4 {
    opacity: 0.4;
  }
  &-3 {
    opacity: 0.3;
  }
  &-2 {
    opacity: 0.2;
  }
}

.invisible {
  visibility: hidden;
}

.contract-programs {
  display: inline-flex;
  & > span {
    position: relative;
    &:not(:last-child)::after {
      content: '/';
      padding: 0 3px;
    }
  }
}

.score {
  $size: 30px;
  border-radius: 50%;
  height: $size;
  min-height: $size;
  width: $size;
  min-width: $size;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // font-weight: 500;
  font-size: 14px;
  &--5 {
    background: rgb(var(--v-theme-success), 0.5);
  }
  &--4 {
    background: rgb(var(--v-theme-success), 0.2);
  }
  &--3 {
    background: rgb(var(--v-theme-orange), 0.4);
  }

  &--2,
  &--1 {
    background: rgb(var(--v-theme-error), 0.4);
  }
}

.remove-btn {
  margin-right: 48px;
  opacity: 0.3;
  transition: none !important;
  &:hover {
    opacity: 1;
    .v-icon {
      color: rgb(var(--v-theme-error));
    }
  }
}

.capitalize::first-letter {
  text-transform: capitalize;
}

.opacity-disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: default !important;
}

code {
  background: rgb(var(--v-theme-bg));
  padding: 4px 8px;
  border-radius: 4px;
}

.sortable {
  cursor: pointer;

  &:hover {
    color: rgb(var(--v-theme-secondary));
  }

  .v-icon {
    transition: all ease-in-out 0.2s;
    font-size: 18px;
  }

  &--desc {
    .v-icon {
      transform: rotate(180deg);
    }
  }
}

// контент разделённый серой строкой
.separate-content {
  .index-page__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 57px;
    background: rgb(var(--v-theme-bg));

    & > div {
      background: white;

      &:not(:first-child) {
        border-top: 1px solid rgb(var(--v-theme-border));
      }
    }
  }
}

.bottom-bar {
  position: fixed !important;
  bottom: 0;
  left: 255px;
  padding: 0 20px;
  height: 52px;
  z-index: 3;
  background: rgb(var(--v-theme-bg));
  width: calc(100vw - 255px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: thin solid rgb(var(--v-theme-border));
  // border-top: 2px solid rgb(var(--v-theme-gray));
  & > div {
    display: flex;
    align-items: center;
    gap: 8px;

    &:first-child {
      .v-btn {
        margin-left: -6px;
        margin-top: 1px;
        opacity: 0.6;
      }
    }
  }
}

.people-selector-table {
  user-select: none;

  td {
    &:first-child {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}

.v-table.v-table--hover > .v-table__wrapper > table > tbody > tr,
tr.hoverable {
  &:hover {
    td {
      background: #f5f5f5;
    }
  }
}

.badge {
  position: relative;

  .v-badge {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
  }
}
